/* * {border:1px solid red;} */

:root {
  --blue-custom: #102E50;
  --yellow-custom: #F5C45E;
  --orange-custom: #E78B48;
  --red-custom: #BE3D2A;
  --white-custom: #F8F4E1;
}

body {
  max-width: 1500px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--blue-custom);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
}

button:hover{
  cursor: pointer;
}

ul {
  list-style-type: none;
}

/* start of custom tags*/

#nav-bar{
  color: var(--white-custom);
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  #nav-bar img {
    width: 50px;
    height: 50px;
  }
  .nav-buttons-box{
    display: flex;
    padding: 0;
    margin: 0;
  }
  .nav-buttons-box a {
    margin-right: 10px;
    text-align: center;
    height: min-content;
    font-size: 1.25rem;
    color: var(--white-custom);
}

#hero-section{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  background-color: var(--blue-custom);
  color: var(--white-custom);
  padding-bottom: 45px;
  }
  #hero-section .image-box{
    margin: auto;
    max-width: 500px;
  }
  .text-box{
    font-size: large;
    max-width: 500px;
    margin: auto;
  }
  #title{
    font-size:3.4rem;
    margin: 0;
  }
  .signing{
    padding: 15px;
    border-radius: 10px;
    background-color: var(--orange-custom);
    color: var(--white-custom);
    font-size: large;
    font-weight: 700;
    border: none;
}

#information-section{
    display: flex;
    background-color: var(--white-custom);
    flex-wrap: wrap;
    justify-content:center;
    padding-bottom: 15px;
    
  }
  #fun-fact{
    font-size: xx-large;
    background-color: var(--white-custom);
    margin: 0;
    text-align: center;
    padding: 15px;
  }
  .information-box{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 150px;
    padding: 15px;
  }
  .information-box img{
    width: 10rem;
    height: 10rem;
    object-fit:cover;
    border: solid 3px;
    border-color: var(--blue-custom);
    border-radius: 5px;
}
.information-box figcaption{
  margin-top: 15px;
}
